header{
    background: #767676 url("../image/image.jpeg");
    padding:1%;
}
h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin:0 auto
}
nav a{
    display: inline-block;
    color: #000;
    background: rgba(187, 187, 187, 0.61);
    border-bottom-style: unset;
    text-decoration: none;
    padding:10px 5%;
    margin:20px;
    border-radius: 5px;
}


nav a:hover{
    background: rgba(255, 255, 255, 0.82);
}
nav .active{
    background: white ;
}
aside{
    display: inline-block;
}
img{
    float: left;
    width: 80%;
    clear: both;
    margin: 20px;
}
h2{
    color: black;
    text-transform: uppercase;
}
nav{
    text-align: center;
    background: transparent;
}
body{
    margin:1%;
    padding:1%;
}
.left{
    background: olive;
    width:20%;
    float: left;
    display: inline-block;
}
.right{
    width: 79%;
    display: inline-block;
    float: right;
}
table{
    margin-left: 5%;
    padding: 2%;
}
th{
    background: olive;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border: 2px solid #339933;
}
td{
    background: #b4b4b4;
    padding: 10px;
    opacity: 0.7;
    font-size: 80%;
    color: black;
}
tr td:nth-child(2),td:nth-child(3){
    text-align: center;
}
tr, th td:first-child{
    text-align: left;
}
td:hover{
    opacity: 1;
}
